<!DOCTYPE html>
<html>

<head>

<title>
Attempt Quiz
</title>


<link rel="stylesheet"
href="{{ url_for('static', filename='css/style.css') }}">


<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">

</head>


<body>


<div class="dashboard-page">


<nav class="top-navbar">


<h2>
🧠 AI Quiz System
</h2>


<div>

<a href="/student_dashboard">
🏠 Dashboard
</a>

<a href="/logout">
🚪 Logout
</a>


</div>


</nav>





<div class="quiz-container">



<div class="quiz-card">



<div class="quiz-header">


<h2>
Question {{number}} / {{total}}
</h2>


<div class="progress">

<div class="progress-bar"

style="width: {{ (number/total)*100 }}%">

</div>

</div>


</div>





<h1 class="question-text">

{{question.question}}

</h1>





<form method="POST">



<label class="option">

<input 
type="radio"
name="answer"
value="A"
required>

<span>

{{question.option_a}}

</span>

</label>





<label class="option">

<input 
type="radio"
name="answer"
value="B">

<span>

{{question.option_b}}

</span>

</label>





<label class="option">

<input 
type="radio"
name="answer"
value="C">

<span>

{{question.option_c}}

</span>

</label>





<label class="option">

<input 
type="radio"
name="answer"
value="D">

<span>

{{question.option_d}}

</span>

</label>





<button type="submit">

{% if number == total %}

Submit Quiz 🚀

{% else %}

Next Question ➡

{% endif %}

</button>



</form>



</div>


</div>


</div>


</body>


</html>